body{
    background-color: rgb(209, 209, 209);
}
a{
    text-decoration: none;
}

.tit{
    font-size: 30pt;
}
.ar:hover{
    color: rgb(220, 0, 0);
}
.tb{
    color: #fff;
}
.serv{
    color: #000;
    font-size: 15pt;
    font-family: 'Source Sans Pro', sans-serif;
}
